.Counter{
    text-align: center;
    background-color: black;
}


.Counter div{
    display:inline-block;
    font-size: 60px;
    line-height: 60px;
    background: darkgray;
    color: white;
    padding: 20px;
    margin: 3px;
}
